{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block javascripts %}
<script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock  %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password, {
            label: 'Password'
        }) }}
        
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn">Register</button>

        <input type="hidden" id="recaptcha-response" name="recaptcha-response">


        <script src="https://www.google.com/recaptcha/api.js?render=6LcdSL0aAAAAADAhaCAiCrW8JuM5AtF6pcYpzrnS"></script>

        <script>
            
              grecaptcha.ready(function() {
                grecaptcha.execute('6LcdSL0aAAAAADAhaCAiCrW8JuM5AtF6pcYpzrnS', {action: 'submit'}).then(function(token) {
                   dd(token);
                });
              });
            
        </script>
        {{ form_end(registrationForm) }}


{% endblock %}
