<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{{asset('img/simple-house-01.jpg')}}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="{{asset('img/simple-house-logo.png')}} "alt="Logo" class="{{asset('tm-site-logo')}}" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Simple House</h1>
								<h6 class="tm-site-description">new restaurant template</h6>	
							</div>
						</div>
						<li class="tm-nav-li"><a href="{{path('main')}}" class="tm-nav-link active">Home</a></li>
						{% if app.user %}
						Welcome
						{{ app.user.username }}
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="{{ path('app_logout')}}" class="tm-nav-link">LOGOUT</a></li>
								{% else %}
								<li class="tm-nav-li"><a href="{{path('app_login')}}" class="tm-nav-link">LOGIN</a></li>
								<li class="tm-nav-li"><a href="{{ path('app_register')}}" class="tm-nav-link">REGISTER</a></li>
								{% endif %}
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>
