{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}


		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Welcome to Simple House</h2>
				<p class="col-12 text-center">Total 3 HTML pages are included in this template. Header image has a parallax effect. You can feel free to download, edit and use this TemplateMo layout for your commercial or non-commercial websites.</p>
			</header>
			
			<div class="tm-paging-links">

				<nav>
					<ul>
					
						<li class="tm-paging-item"><a href="#" class="tm-paging-link active">figure</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">manga</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">games</a></li>
					</ul>
				</nav>
			</div>

			<!-- Gallery -->
			<div class="row tm-gallery">

	

				<!-- gallery page 1 -->
				<div name="tm-gallery-page-figure" class="tm-gallery-page">
					{% for product in products %}
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
						<img src="{{product.img}}" alt="">
							<figcaption>
								<h4 class="tm-gallery-title">{{product.name}}</h4>
								<p class="tm-gallery-description">{{product.name}}</p>
								
							</figcaption>
						</figure>
					</article>
				
				
				
			
			
				</div> <!-- gallery page 1 -->
				
				<!-- gallery page 2 -->
				<div name="tm-gallery-page-manga" class="tm-gallery-page hnameden">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{{product.img}}}" alt="Image" class="img-fluname tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">{{product.name}}</h4>
								<p class="tm-gallery-description"></p>
							
							</figcaption>
						</figure>
					</article>
			
				</div> <!-- gallery page 2 -->
				
				<!-- gallery page 3 -->
				<!-- <div name="tm-gallery-page-games" class="tm-gallery-page hnameden">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{{product.name}}" alt="Image" class="img-fluname tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">{{product.name}}</h4>
								<p class="tm-gallery-description"></p>
								
							</figcaption>
						</figure>
					</article>
				</div>	{% endfor %}
				 -->
				

				</div> <!-- gallery page 3 -->
			</div>
		
		</main>

	</div>
	<script src="public/js/jquery.min.js"></script>
	<script src="pubic/js/parallax.min.js"></script>
	<script>
		$(document).ready(function(){
			
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				let page = $(this).text().toLowerCase();
			
				$('.tm-gallery-page').addClass('hnameden');
				$('#tm-gallery-page-' + page).removeClass('hnameden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
{% endblock %}
