{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<button type="button" class="btn btn-danger"><a href="{{('annonces')}}">annonces</a> </button><br>
<button type="button" class="btn btn-danger"><a href="{{('categories')}}">categories</a> </button><br>
<button type="button" class="btn btn-danger"><a href="{{('stats')}}">statestique</a> </button><br>
<button type="button" class="btn btn-danger"><a href="{{('annonces')}}">annonces</a> </button><br>
<button type="button" class="btn btn-danger"><a href="{{('admin')}}">admin</a> </button><br>

{% endblock %}
